body {
      background-color: paleturquoise;
}

.container {
      margin: 3rem auto;
}
.card_member {
      text-align: center;
      background-color: antiquewhite;
      border-radius: 1rem;
}
.card_member > img {
      width: 100%;
      aspect-ratio: 1 / 1;
      object-fit: cover;
      border-radius: 1rem;
      border-bottom-right-radius: 0 ;
      border-bottom-left-radius: 0 ;
}